/** @format */

p {
  font-size: small;
}
.pdiv1 {
  background-color: blue;
  width: 100%;
  height: 8vh;
  margin: auto;
}
.pdiv1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  cursor: pointer;
}
.pdiv1 > div {
  width: 15%;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 15px;

  background-color: #434ea2;
}
.pdiv11 {
  color: white;
  text-align: center;
}
select {
  text-align: center;
  width: 100%;
  background-color: #434ea2;
  border: none;
  color: white;
  padding: auto;
}
/* page1css..... */
.p2div1 {
  padding: 15px;
  width: 65%;
  cursor: pointer;
  border-bottom: 1px solid lightgrey;
  /* box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px; */
}
.p2div1 {
  display: flex;
  flex-direction: row;
  justify-items: space-between;
  padding: 15px;
  font-size: small;
}
.p2div11 {
  margin-top: 40px;
  width: 15%;
  height: 30vh;
}
.p2div12 {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.p2div13 {
  margin-top: 150px;
  width: 25%;
  /* height: 5vh;  */
}

li {
  list-style: none;
}
.pbtn1 {
  background-color: green;
  color: white;
  border: none;
  width: 18%;
  padding: 2px;
  border-radius: 5px;
}
.pbtn2 {
  background-color: deepskyblue;
  color: white;
  width: 100%;
  text-align: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.pimg1 {
  width: 100%;
  border-radius: 60px;
}
/* page2css.... */

.p2div14 {
  width: 68%;
}
.p3div1 {
  width: 100%;

  height: 70%;
  border-bottom: 1px solid lightgrey;
}

/* page3css */
.p4div1 {
  margin: auto;
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px; */
}
.p4div11 {
  width: 48%;
  display: flex;
  flex-direction: column;

  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.p4div12 {
  width: 48%;
  /* border: 2px solid pink; */
  padding: 5px;
}
.p4div110 {
  padding: 5px;
}
.p4div111 {
  padding: 8px;
  display: flex;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.p4div112 {
  padding: 8px;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.p4div112 input {
  border: none;
}
.p4div113 {
  padding: 8px;
  display: flex;

  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.p4img1 {
  width: 90px;
  height: 90px;
  margin-right: 10px;
  border-radius: 5px;
  flex: 3;
}
.p4div12 input {
  width: 95%;
  padding: 4px;
}
button {
  width: 100%;
  padding: 2px;
}

.in2 {
  width: 97%;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  margin-bottom: 5px;
  padding: 4px;
  border: none;
}
button {
  width: 100%;
  padding: 2px;
}
.bt2 {
  background-color: #434ea2;
}
